 :root {
    /*Colours*/
    --color-text: #fff;
    --color-primary: #212121;
    /* --color-primary: #576cbc; */
    /* --color-secondary: #19376d; */
    --color-secondary: #36454F;
    --color-dark: #0b2447;
    /* --color-bg: #04152d; */
    --color-bg:#000000;
    
    /*Fonts*/
    --fonts-roboto: "Roboto";
 }